@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    
    
}
.logo{
    font-weight: 600;
    color: #003329;
    /* width: 250px;
  height: 100px; */
}

.card-full {
    width: 100%; /* Adjust the width as desired */
     /* Set a max-width to limit the card's width */
     overflow-y: auto;
     box-shadow: 3px 4px 5px 6px rgba(20,20,20,0.4);
  }